### Part III: Engineering Features and Preparing Data for Model Training

In [1]:
# import libraries
import pandas as pd

In [4]:
# read the CSV from PART II as DataFrame
df = pd.read_csv('thebiglist_clean_extended.csv')
df

,Brand,Variety,Style,Country,Stars,is_Spicy,has_Chicken,has_beef,has_seafood
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0

# 3 columns conatin categorical data ie : Brand, Style and Country
we found that a lot of unique values within them...we need to reduce or drop those unimportant value so that reuce the space when we dumpify(转储) it.

In [10]:
# get value counts of Brand
top_thirty_brands = df['Brand'].value_counts()[:30].index  # reduce to 30 by arbitrary (随意的), check & adjust later
top_thirty_brands

Index(['Nissin', 'Maruchan', 'Nongshim', 'Myojo', 'Samyang Foods', 'Paldo',
       'Mama', 'Sapporo Ichiban', 'Indomie', 'Ottogi', 'Sau Tao', 'Acecook',
       'KOKA', 'Maggi', 'Vifon', 'MyKuali', 'Lucky Me!', 'Mamee',
       'Vina Acecook', 'MAMA', 'Ve Wong', 'Master Kong', 'Vedan', 'JML',
       'Wei Lih', 'Wai Wai', 'A-Sha Dry Noodle', 'Wu-Mu', 'Yum Yum', 'Itsuki'],
      dtype='object')

In [11]:
# turn other brand to 'others'
# create a new column called newBrand
new_brand = []

for brand in df['Brand']:
    if brand in top_thirty_brands:
        new_brand.append(brand)
    else:
        new_brand.append('Other')
        
df['newBrand'] = new_brand
df

,Brand,Variety,Style,Country,Stars,is_Spicy,has_Chicken,has_beef,has_seafood,newBrand
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,Other
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,Other
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban
...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,Other

In [13]:
len(df['newBrand'].value_counts())

31

In [12]:
df['newBrand'].value_counts()

Other               1781
Nissin               476
Maruchan             131
Nongshim             119
Myojo                111
Samyang Foods        102
Paldo                 84
Mama                  71
Sapporo Ichiban       69
Indomie               56
Ottogi                50
Sau Tao               48
Acecook               48
KOKA                  39
Maggi                 38
Vifon                 36
MyKuali               35
Vina Acecook          34
Mamee                 34
Lucky Me!             34
MAMA                  33
Ve Wong               32
Master Kong           29
Wei Lih               28
Vedan                 28
JML                   28
A-Sha Dry Noodle      26
Wai Wai               26
Wu-Mu                 23
Yum Yum               23
Itsuki                20
Name: newBrand, dtype: int64

In [15]:
len(df['Brand'].value_counts())

542

Reduce from original 542 to 31 unique value

In [16]:
# examine Style
df['Style'].value_counts()

Pack          2085
Bowl           722
Cup            659
Tray           167
Box             54
Restaurant       3
Bar              1
Can              1
Name: Style, dtype: int64

In [18]:
top_four_style = df['Style'].value_counts().index[:4]
# loop through style and create newStyle

In [26]:
# Group less values to 'other'
new_style = []

for style in df['Style']:
    if style in top_four_style:
        new_style.append(style)
    else:
        new_style.append('Other')
        
df['newStyle'] = new_style
df

,Brand,Variety,Style,Country,Stars,is_Spicy,has_Chicken,has_beef,has_seafood,newBrand,newStyle
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,Other,Pack
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,Other,Cup
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup
...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,Other,Pack

In [28]:
df['newStyle'].value_counts()

Pack     2085
Bowl      722
Cup       659
Tray      167
Other      59
Name: newStyle, dtype: int64

In [29]:
df['Country'].value_counts()

Japan                 681
United States         458
South Korea           411
Taiwan                372
China                 245
Thailand              212
Malaysia              207
Hong Kong             191
Indonesia             161
Singapore             140
Vietnam               124
UK                     75
Canada                 56
Philippines            51
India                  45
Mexico                 32
Germany                28
Australia              25
Brazil                 24
Netherlands            16
Myanmar                14
Nepal                  14
Bangladesh             12
Hungary                 9
Pakistan                9
Colombia                6
France                  6
Poland                  6
Cambodia                5
Russia                  5
Sarawak                 5
Fiji                    4
Peru                    4
Holland                 4
Italy                   4
Dubai                   3
Israel                  3
Finland                 3
Spain                   3
Ukraine                 3
Sweden                  3
Nigeria                 2
Estonia                 2
Ghana                   2
Souh Korea              1
USA                     1
Russian Federation      1
United Kingdom          1
New Zealand             1
Portugal                1
Phlippines              1
Name: Country, dtype: int64

In [40]:
len(df['Country'].value_counts())

51

In [41]:
len(df)*0.8

2953.6000000000004

In [42]:
(df['Country'].value_counts())[:10].sum()

3078

In [43]:
10/51 * 100

19.607843137254903

~20% of top 10 country get 80% of the market share, so we choose to 10 countries

In [45]:
top_ten_countries = (df['Country'].value_counts())[:10].index
top_ten_countries

Index(['Japan', 'United States', 'South Korea', 'Taiwan', 'China', 'Thailand',
       'Malaysia', 'Hong Kong', 'Indonesia', 'Singapore'],
      dtype='object')

In [46]:
new_country = []

for country in df['Country']:
    if country in top_ten_country:
        new_country.append(country)
    else:
        new_country.append('Other')
        
df['newCountry'] = new_country
df

,Brand,Variety,Style,Country,Stars,is_Spicy,has_Chicken,has_beef,has_seafood,newBrand,newStyle,newCountry
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,Other,Pack,Japan
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,Other,Cup,China
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack,Hong Kong
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack,Hong Kong
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl,Other
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack,Thailand
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack,Thailand
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack,Thailand
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,Other,Pack,United States

In [48]:
df['newCountry'].value_counts()

Japan            681
Other            614
United States    458
South Korea      411
Taiwan           372
China            245
Thailand         212
Malaysia         207
Hong Kong        191
Indonesia        161
Singapore        140
Name: newCountry, dtype: int64

In [50]:
# To dummyfy our data
brand_dummy = pd.get_dummies(df['newBrand'],drop_first=True,
                            prefix='from')
brand_dummy

,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,from_Lucky Me!,from_MAMA,from_Maggi,from_Mama,from_Mamee,...,from_Sapporo Ichiban,from_Sau Tao,from_Ve Wong,from_Vedan,from_Vifon,from_Vina Acecook,from_Wai Wai,from_Wei Lih,from_Wu-Mu,from_Yum Yum
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
style_dummy = pd.get_dummies(df['newStyle'],drop_first=True,
                            prefix='is')
style_dummy

      is_Cup  is_Other  is_Pack  is_Tray
0          0         0        1        0
1          1         0        0        0
2          0         0        1        0
3          0         0        1        0
4          1         0        0        0
...      ...       ...      ...      ...
3687       0         0        0        0
3688       0         0        1        0
3689       0         0        1        0
3690       0         0        1        0
3691       0         0        1        0

[3692 rows x 4 columns]

In [54]:
country_dummy = pd.get_dummies(df['newCountry'],drop_first=True,
                            prefix='in')
country_dummy

,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_Other,in_Singapore,in_South Korea,in_Taiwan,in_Thailand,in_United States
0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
3687,0,0,0,0,1,0,0,0,0,0
3688,0,0,0,0,0,0,0,0,1,0
3689,0,0,0,0,0,0,0,0,1,0
3690,0,0,0,0,0,0,0,0,1,0
3691,0,0,0,0,0,0,0,0,0,1

In [55]:
df

,Brand,Variety,Style,Country,Stars,is_Spicy,has_Chicken,has_beef,has_seafood,newBrand,newStyle,newCountry
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,Other,Pack,Japan
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,Other,Cup,China
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack,Hong Kong
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack,Hong Kong
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl,Other
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack,Thailand
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack,Thailand
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack,Thailand
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,Other,Pack,United States

In [62]:
# df_temp = df.drop(['Brand','Variety','Style','Country','newBrand','newStyle','newCountry'],axis = 1)
# or
df_temp = df[['Stars','is_Spicy','has_Chicken','has_beef','has_seafood']]
df_temp

      Stars  is_Spicy  has_Chicken  has_beef  has_seafood
0       5.0         0            0         0            1
1       3.5         1            0         0            0
2       5.0         1            0         0            1
3       4.5         0            0         0            0
4       3.5         0            0         0            0
...     ...       ...          ...       ...          ...
3687    3.5         0            0         0            0
3688    1.0         0            0         0            0
3689    2.0         1            0         0            1
3690    2.0         1            0         0            0
3691    0.5         0            0         0            0

[3692 rows x 5 columns]

In [64]:
df_final = pd.concat([df_temp, brand_dummy,style_dummy,country_dummy], axis=1)
df_final

,Stars,is_Spicy,has_Chicken,has_beef,has_seafood,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,...,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_Other,in_Singapore,in_South Korea,in_Taiwan,in_Thailand,in_United States
0,5.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,3.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,3.5,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,3.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3688,1.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3689,2.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3690,2.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3691,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [65]:
df_final.to_csv('thebiglist_clean_extended_final.csv',index=None)

In [68]:
pd.read_csv('thebiglist_clean_extended_final.csv')

,Stars,is_Spicy,has_Chicken,has_beef,has_seafood,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,...,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_Other,in_Singapore,in_South Korea,in_Taiwan,in_Thailand,in_United States
0,5.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,3.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,3.5,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,3.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3688,1.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3689,2.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3690,2.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3691,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Summary:
1. Changed low frequency to 'Other'
2. Dummified the new columns
3. Dropped unnecessary columns
4. Joined everything into the final DataFrame